@use '../../../_lib' as lib;

.modal-add-poll {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 2vw;

    label {
        font-size: 1.2rem;
        margin-bottom: .2rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: .3rem;

        &__number-poll {
            padding: .3rem;
            cursor: text;
        }

        &__input {
            padding: .3rem;
        }

        &__input-color {
            padding: 0%;
        }

        &__btn-plus {
            font-size: xx-large;
            margin-bottom: 1rem;
        }
    }

    &__btn {
        margin: .5vw;
        padding: .5vw;
        background-color: rgb(100, 100, 255);
        color: white;
        border: 1px solid transparent;
        border-radius: 15px;

        &:hover {
            border: 1px solid white;
            box-shadow: inset .1rem .1rem .2rem white;
            background-color: rgb(131, 131, 255);
            color: rgb(14, 14, 14);
        }
    }

    &__option {
        display: flex;
        flex-direction: row;
        margin: .5vw 0;
        justify-content: space-between;

        &:last-child {
            padding-bottom: .3rem;
            border-bottom: 1px solid black;
        }

        &__color {
            position: relative;
            border-radius: 100%;
            border: 5px solid;
            height: 1vw;
            width: 1vw;
        }

        &__x-btn {
            background-color: transparent;
            color: red;
            border: 1px solid transparent;
            border-radius: 5px;
            padding: .15rem;

            &:hover {
                background-color: rgb(255, 164, 164);
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .modal-add-poll {

        label {
            font-size: 1.2rem;
            margin-bottom: .2rem;
        }

        &__form {

            &__input {
                padding: .5rem;
            }

            &__number-poll {
                padding: .5rem;
            }

            &__input-color {
                width: 100%;
                padding: .0rem;
            }

            &__btn-plus {
                font-size: 1.5rem;
                margin-bottom: 1rem;
                background-color: transparent;

                &:hover {
                    background-color: rgba(0, 255, 255, 0.158);
                }
            }
        }

        &__btn {
            margin: .6rem 1rem;
            padding: .6rem 1rem;
        }

        &__option {
            font-size: 1.3rem;

            &__color {
                height: 1.2rem;
                width: 1.2rem;
            }
        }
    }

}

@media screen and (min-width: 321px) {
    .modal-add-poll {
        label {
            font-size: 1.2rem;
            margin-bottom: .2rem;
        }

        &__form {

            &__input {
                padding: .5rem;
            }

            &__number-poll {
                padding: .5rem;
            }

            &__input-color {
                width: 100%;
                padding: .0rem;
            }

            &__btn-plus {
                font-size: 1.5rem;
                margin-bottom: 1rem;
                background-color: transparent;

                &:hover {
                    background-color: rgba(0, 255, 255, 0.158);
                }
            }
        }

        &__btn {
            margin: .6rem 1rem;
            padding: .6rem 1rem;
        }

        &__option {
            font-size: 1.3rem;

            &__color {
                height: 1.2rem;
                width: 1.2rem;
            }
        }
    }

}