# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/front-end/node_modules
/front-end/build
/front-end/**/*copy.tsx
/front-end/**/*copy
/back-end/node_modules
/back-end/build
/back-end/**/*copy.js
/back-end/**/*copy
/back-end/.env
/.pnp
.pnp.js
/back-end/*.rest
# testing
/coverage

# production

/build

# misc
.DS_Store
.env.local
.env
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*