.introduction-section {
    position: relative;
    display: grid;
    justify-items: center;
    margin-top: 1vw;

    &__Description {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 35rem;
        margin-top: 2vw;

        &__Title {
            position: relative;
            font-weight: 600;
        }

        &__Text {
            position: relative;
            text-align: justify;
        }
    }
}
