.mainPoolsSection {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .addPool {
        padding: .5vw;

    }
}

.modalPool {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 2vw;

    .modalFormPool {
        display: flex;
        flex-direction: column;

    }

    .btnModalClose {
        margin: .5vw;
        padding: .5vw;
        background-color: rgb(100, 100, 255);
        color: white;
        border: none;

    }

    .btnModalClose:hover {
        padding: .5vw;
        background-color: rgb(131, 131, 255);
        color: rgb(14, 14, 14);

    }

    .optionShow {
        display: flex;
        flex-direction: row;
        margin: .5vw 0;
        // padding: .5vw 0;
        justify-content: space-between;

        .optionDotColor {
            position: relative;
            border-radius: 100%;
            border: 5px solid;
            height: 1vw;
            width: 1vw;
            
        }
    }
}