@use '../_lib' as lib;

.mainContent {
    position: relative;
    top: calc(lib.$header-hight-default - 100%);
    margin-top: lib.$header-hight-default;
    width: 100vw;
    min-height: calc(100vh - 3vw);
    height: auto;
}

@media screen and (max-width: 320px) {
    .mainContent {
        position: relative;
        top: calc(lib.$header-hight-320 - 100%);
        margin-top: lib.$header-hight-320;
        width: 100vw;
        min-height: calc(100vh - lib.$header-hight-320);
    height: auto;
    }
}

@media screen and (min-width: 321px) {
    .mainContent {
        position: relative;
        top: calc(lib.$header-hight-321 - 100%);
        margin-top: lib.$header-hight-321;
        width: 100vw;
        min-height: calc(100vh - lib.$header-hight-321);
    height: auto;
    }
}

@media screen and (min-width: 769px) {
    .mainContent {
        position: relative;
        top: calc(lib.$header-hight-768 - 100%);
        margin-top: lib.$header-hight-768;
        width: 100vw;
        min-height: calc(100vh - lib.$header-hight-768);
    height: auto;
    }
}

@media screen and (min-width: 1201px) {
    .mainContent {
        position: relative;
        top: calc(lib.$header-hight-default - 100%);
        margin-top: lib.$header-hight-default;
        width: 100vw;
        min-height: calc(100vh - lib.$header-hight-default);
    height: auto;
    }
}
