@use '../_lib' as lib;

.mainContent {
    position: absolute;
    top: calc(lib.$header-hight-default - 100%);
    width: 100vw;
    height: calc(100vh - 3vw);
}

@media screen and (max-width: 320px) {
    .mainContent {
        position: absolute;
        top: calc(lib.$header-hight-320 - 100%);
        width: 100vw;
        height: calc(100vh - lib.$header-hight-320);
    }

}

@media screen and (min-width: 321px) {
    .mainContent {
        position: absolute;
        top: calc(lib.$header-hight-321 - 100%);
        width: 100vw;
        height: calc(100vh - lib.$header-hight-321);
    }
}

@media screen and (min-width: 769px) {
    .mainContent {
        position: absolute;
        top: calc(lib.$header-hight-768 - 100%);
        width: 100vw;
        height: calc(100vh - lib.$header-hight-768);
    }
}

@media screen and (min-width: 1201px) {
    .mainContent {
        position: absolute;
        top: calc(lib.$header-hight-default - 100%);
        width: 100vw;
        height: calc(100vh - lib.$header-hight-default);
    }
}