@use '../../../_lib' as lib;

.section-poll {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35rem;
    background-color: lib.$poll-bg-clr;
    margin: 2vw;
    padding: 1vw;
    max-width: 70vw;
    border: 1px solid transparent;
    border-radius: 15px;

    &__circle-chart {
        padding: 6rem;
        margin: 1vw;
        border: 1px solid black;
        border-radius: 50%;
        height: 2vw;
        width: 2vw;
    }

    &__btns {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: transparent;
        padding: 2vw;
        border: 1px solid transparent;
        justify-content: center
    }

    &__btn-vote {
        margin: 0 .4rem .4rem 0;
        padding: .5rem;
        border: 1px solid transparent;
        border-radius: 10px;

        &:hover {
            background-color: lib.$second-btn-clr;
        }

        &:active {
            background-color: lib.$second-btn-active-clr;
        }
    }

    &__option {
        display: flex;
        flex-direction: row;
        width: 95%;
        justify-content: space-between;


        &__btn-option {
            padding: .2rem .4rem;
            border-radius: 8px;

            &_delete {
                background-color: rgb(255, 36, 36);
                border: 1px solid transparent;

                &:hover {
                    background-color: rgb(255, 97, 97);
                }
            }

            &_edit {
                background-color: lib.$second-btn-clr;
                border: 1px solid transparent;

                &:hover {
                    background-color: lib.$second-btn-active-clr;
                }
            }
        }
    }

    &__color-dot {
        display: inline-block;
        border-radius: 50%;
        width: .8rem;
        height: .8rem;
    }
}

@media screen and (max-width: 320px) {
    .section-poll {
        max-width: 80vw;

        &__btns {
            width: 80%;
        }

        &__btn-vote {
            width: 80%;
        }

        &__option {
            padding: .5rem .2rem;
        }
    }
}

@media screen and (min-width: 321px) {
    .section-poll {
        max-width: 80vw;

        &__btns {
            width: 80%;
        }

        &__btn-vote {
            padding: .6rem .8rem;
        }

        &__option {
            padding: .5rem .2rem;


            &__btn-option {
                padding: .3rem .6rem;
            }
        }
    }
}