// @media screen and (min-width: 1440px) {
    .loginSection{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        .loginTitle{
            margin: 10px 0px;
            font-size: 2vw;

        }
        .loginForm{
            display: flex;
            flex-direction: column;
            transition: 300ms;

            input{
                margin-bottom: 0.5vw;
                font-size: 1vw;
                padding: 0.2vw;
            }
            .loginBtn{
                font-size: 1vw;
                padding: 0.2vw;
                background-color: rgba(0, 0, 255, 0.219);
                border: none;
                transition: 300ms;
            }
            .loginBtn:hover{
                font-size: 1.2vw;
                color: rgba(0, 0, 255, 0.603);
                background-color: white;
                border: 1px solid rgba(0, 0, 255, 0.603);
            }
        }
        .toRegistryParagraph{
            font-size: 0.8vw;
            margin-top: 1vw;

        .toRegistryBtn{
            background-color: transparent;
            border: none;
            cursor: pointer;
            color: rgba(0, 0, 255, 0.603);
            transition: 300ms;
        }
        .toRegistryBtn:hover{
            background-color: transparent;
            border: none;
            cursor: pointer;
            color: rgba(0, 0, 255, 0.603);
            text-decoration: underline;
            font-size: 0.85vw;
        }
    }
    }
// }