@use '../_lib' as lib;

.login-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__paragraph {
        font-size: 0.8vw;
        margin-top: 1vw;

        &_btn {
            background-color: transparent;
            border: none;
            cursor: pointer;
            color: rgba(0, 0, 255, 0.603);
            transition: 300ms;

            &:hover {
                background-color: transparent;
                border: none;
                cursor: pointer;
                color: rgba(0, 0, 255, 0.603);
                text-decoration: underline;
                font-size: 0.85vw;
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .login-section {

        &__paragraph {
            font-size: 1.2rem;
            margin-top: .7rem;
            text-align: center;

            &_btn {
                &:hover {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media screen and (min-width: 321px) {
    .login-section {

        &__paragraph {
            font-size: 1.2rem;
            margin-top: .7rem;
            text-align: center;

            &_btn {
                &:hover {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media screen and (min-width: 769px) {
    .login-section {

        &__paragraph {
            font-size: 1rem;
            margin-top: .7rem;
            text-align: center;

            &_btn {
                &:hover {
                    font-size: 1.2rem;
                }
            }
        }
    }
}