$main-clr: rgb(255, 152, 93);
$main-font-clr: rgb(255, 119, 41);
$main-font-active-clr: rgb(255, 209, 182);

$second-clr: #429DFF;
$second-btn-clr: #c2dfff;
$second-btn-active-clr: #94c8ff;
// $second-clr: #429DFF;

$poll-bg-clr: #ff985d;
// $poll-bg-clr: #ff985d;