@use '../_lib' as lib;

.AccountSection {
    margin-top: 2vw;
    display: flex;
    flex-direction: column;

    &__title {
        position: relative;
        display: block;
        font-size: 2vw;
        padding: 0.3vw;
        text-align: center;
    }

    &__info {
        position: relative;
        display: block;
        padding: .7rem;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;

        width: 15rem;

        &_message {
            border: 1px solid green;
            background-color: rgb(78, 209, 78);
        }

        &_warning {
            border: 1px solid red;
            background-color: rgb(209, 78, 78);
        }

    }

    &__form {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: 0.5vw;
        width: 30%;
        left: 50%;
        transform: translateX(-50%);
        padding: 0.5vw;
        height: auto;

        &__submit-btn {
            display: block;
            margin-top: 1vw;
            padding: 0.2vw;
            width: 5vw;
            align-self: flex-end;
            background: lightcyan;
            border: 1px solid black;
            border-radius: 20px;
            font-weight: 600;
            transition: .3s;

            &:hover {
                background: rgb(35, 255, 255);
                border: 1px solid black;
                border-radius: 20px;
            }
        }
    }

    &__change-type-account {
        position: relative;
        display: flex;
        flex-direction: column;
        left: 50%;
        transform: translateX(-50%);
        width: 20rem;
        margin-top: 1rem;
        padding: 1rem 0;

        &__submit-btn {
            display: block;
            margin-top: 2rem;
            padding: .3rem;
            width: 20rem;
            align-self: center;
            background: lightcyan;
            border: 1px solid black;
            border-radius: 20px;
            font-weight: 600;
            transition: .3s;

            &:hover {
                background: rgb(35, 255, 255);
                border: 1px solid black;
                border-radius: 20px;
            }
        }

        &__title {
            margin: 1rem 0 2rem 0;
            text-align: center;
        }
    }

    input,
    select {
        display: block;
        padding: 0.5vw;
        margin-bottom: 0.5vw;
    }

    label {
        display: block;
        font-weight: 800;
        margin-bottom: .2rem;

        &::before {
            content: "* ";
            color: red;
        }
    }

    &__of-label {
        &::before {
            display: none;
        }
    }
}

@media screen and (max-width: 320px) {
    .AccountSection {
        display: flex;
        flex-direction: column;

        &__title {
            position: relative;
            font-size: 2rem;
            padding: 1rem;
            text-align: center;
        }

        &__form {
            position: relative;
            margin-top: 1rem;
            width: 80vw;
            padding: 1.5vw 0;
            height: auto;

            &__submit-btn {
                margin-top: 2rem;
                padding: 3vw;
                width: 80vw;
                align-self: center;
                font-size: 1.5rem;
            }
        }

        &__change-type-account {
            position: relative;
            display: flex;
            flex-direction: column;
            left: 50%;
            transform: translateX(-50%);
            width: 80vw;
            margin-top: 1rem;
            padding: 1rem 0;

            &__submit-btn {
                margin-top: 2rem;
                padding: 3vw;
                width: 80vw;
                align-self: center;
                font-size: 1.5rem;
            }
        }

        input,
        select {
            padding: .8rem;
            margin-bottom: 1.8rem;
            font-size: 1.2rem;
        }

        label {
            font-weight: 800;
            margin-bottom: .2rem;
            font-size: 1.3rem;
        }

        &__of-label {
            &::before {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 321px) {

    .AccountSection {
        display: flex;
        flex-direction: column;

        &__title {
            position: relative;
            font-size: 2rem;
            padding: 1rem;
            text-align: center;
        }

        &__form {
            margin-top: 1rem;
            width: 80vw;
            padding: 1.5vw 0;
            height: 70vw;

            &__submit-btn {
                margin-top: 2rem;
                padding: 1.5vw;
                width: 80vw;
                align-self: center;
                font-size: 1.5rem;
            }
        }

        input,
        select {
            padding: .7rem;
            margin-bottom: 2rem;
            font-size: 1.2rem;
        }

        label {
            font-weight: 800;
            margin-bottom: .2rem;
            font-size: 1.3rem;
        }

        &__of-label {
            &::before {
                display: none;
            }
        }

        &__change-type-account {
            position: relative;
            display: flex;
            flex-direction: column;
            left: 50%;
            transform: translateX(-50%);
            width: 80vw;
            margin-top: 1rem;
            padding: 1rem 0;

            &__submit-btn {
                margin-top: 2rem;
                padding: 1.5vw;
                width: 80vw;
                align-self: center;
                font-size: 1.5rem;
            }
        }
    }
}

@media screen and (min-width: 769px) {

    .AccountSection {
        display: flex;
        flex-direction: column;

        &__title {
            font-size: 2rem;
            padding: 1rem;
        }

        &__form {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            width: 20rem;
            padding: 1rem 0;
            height: auto;

            &__submit-btn {
                margin-top: 2rem;
                padding: .3rem;
                width: 20rem;
                align-self: center;
                font-size: 1.5rem;
            }
        }

        input,
        select {
            padding: .5rem;
            margin-bottom: 0.5rem;
        }

        label {
            font-weight: 800;
            margin-bottom: .2rem;
        }

        &__of-label {
            &::before {
                display: none;
            }
        }

        &__change-type-account {
            position: relative;
            display: flex;
            flex-direction: column;
            left: 50%;
            transform: translateX(-50%);
            width: 20rem;
            margin-top: 1rem;
            padding: 1rem 0;

            &__submit-btn {
                margin-top: 2rem;
                padding: .3rem;
                width: 20rem;
                align-self: center;
                font-size: 1.5rem;
            }
        }
    }
}