@use '../_lib' as lib;

// @media screen and (min-width: 1440px) {

.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lib.$second-clr;
    width: 100vw;
    height: 3vw;
    z-index: 5;

    &__title {
        margin-left: 1vw;
        font-style: italic;
    }

    &__link {
        text-decoration: none;
        color: black;
    }

    &__nav {
        margin-right: 2rem;
    }

    &__nav-link {
        margin-right: 1vw;
        padding: 0.5vw;
        border: 2px solid white;
        border-radius: 20px;
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;
        transition: .3s;
        color: black;
        text-decoration: none;

        &:hover {
            background-color: rgb(255, 255, 255);
            color: lib.$main-font-clr;
        }

        &:active {
            background-color: lib.$main-font-active-clr;
        }
    }
}

// }