$red : #F15854;
$gray : #4D4D4D;
$blue : #5DA5DA;
$yellow : #DECF3F;
$purple : #B276B2;
$orange : #FAA43A;

.poolSection {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 255, 0.349);
    margin: 2vw;
    padding: 1vw;
    max-width: 50vw;
    border: 1px solid black;

    .firstPart {
        padding: 4.5vw;
        margin: 1vw;
        border: 1px solid black;
        // background:
        //     conic-gradient($red 0 54%,
        //         // $gray 0 8%,
        //         // $blue 0 17%,
        //         // $yellow 0 48%,
        //         // $purple 0 54%,
        //         $orange 0 12%);
        border-radius: 50%;
        //https://css-tricks.com/making-charts-with-css/
        height: 1vw;
        width: 1vw;
    }


    .secondPart {
        background-color: rgba(255, 68, 0, 0.315);
        padding: 2vw;
        border: 1px solid black;
    }
}